body{
    font-family: 'Halvar Mittelschrift';
    position: relative;
    width: 1440px;
    display: block;
    margin: 0 auto;
  }
h1, h2, h3 {
    font-family: 'Halvar Mittelschrift', sans-serif; font-weight: "ExtraBold";
  }
    h1{ font-size: 144px;
     font-weight: bold;
    }
    h2{font-size: 144px;
    font-weight: Medium;
    font-family:'HalvarMittel-Bd';
    }


    h1 {margin-top: 13px;
    margin-left:10px; }

    .text1{
      margin-top: 300px;
      margin-left: 150px;
      font-family:'HalvarMittel-Bd';
font-size: 144px;
font-weight: 700px;
    }
    .img1{
       margin-top: 200px;
       margin-left: 243px;
       margin-bottom: 300px;
    }
    .img2{
      padding-left: 2008px;
      margin-bottom: 400px;
      width: 1000px;

    }
    .img3{
      width: 2000px;
      margin-left: 550px;
    }
    .m1{
      margin-left: 550px;
      margin-top: 150px;
    }
    .img4{
      width: 2000px;
      margin-left: 550px;
      margin-top: 150px;

    }
    .img5{
      margin-left: 850px;
      margin-top: 150px;
    }
