
h1, h2, h3 {
    font-family: 'Halvar Mittelschrift', sans-serif; font-weight: "ExtraBold";
  }
    h1{ font-size: 144px;
     font-weight: bold;
    }
    h2{font-size: 144px;
    font-weight: Medium;
    font-family:'Halvar Mittel Md';
    }


    h1 {margin-top: 10px;
    margin-left:10px; }

    .img1{
      width:765px;
    margin-top: 20px;
    padding-left:190px ;

}
    .img2{
    margin-left: 1800px;
  padding-bottom: 300px;
  width: 441px;
}
.img33{
   margin-left: 80px;
   width: 2000px
}

    .img4{
      width: 313,5px;
    margin-left: 51px;
    padding-top:300px;
}
    .bold{
      margin-left: 126px;
      margin-top: 134px;

}
.Rectangle{
  margin-bottom: 10px;
  padding-left: 130px;
  width: 1181px;
  height: 595px;
}
.верх{
  width: 1507px;
  padding-left: 2000px;
  margin-top: 190px;

}
}
.text01{
  font-size: 48px;
  font-family:"Halvar Mittel Rg ";
  padding-left: 200px;
  font-weight: 400px;
  padding-top: 100PX;
  padding-bottom: 100PX;
  width: 842PX;
  bottom: 100px;

}
.textp{
  font-style:HalvarMittel-XBd;
  font-size: 24px;
  margin-left: 150px;
  font-weight: 800px;
  bottom: 100px;

}
.boxes{
  width: 2000px;
  padding-left: 200px;
  padding-top: 100px;
  padding-bottom: 100px;

}
.pack{
  width:1188px;
  margin-left: 175px;
}
.block{
  padding-left: 175px;
}
.img6{
  margin-left: 1px;
  width: 1188px;
}

.text02{
  font-size: 48px;
  padding-left: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 842px;
  }
  .man{margin-left: 243px;
    margin-top:30px;
    width: 700px;
    height: 288px;
  }
  table {
      margin: 30px 0;
      font-size: 48px;
      width: 100%;
  }
  table p {
      margin: 0 30px 0 0;

  }
  td {
      display: block;
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content;
  }
  .paragraph_1x{
      text-align: right;
      margin-right: 120px;
  }
  .slanted{
      font-style: italic;
  }
  .Blk {
      font-family: "Halvar Mittel Blk";
  }
  .Blk_suslanted {
      font-family: "Halvar Mittel Blk SuSlanted";
  }
  .ExtraBold {
      font-family: "Halvar Mittel XBd";
  }
  .ExtraBold_suslanted {
      font-family: "Halvar Mittel XBd SuSlanted";
  }
  .Bold {
      font-family: "Halvar Mittel Rg";
      font-weight: bold;
   }
  .Bold_suslanted {
      font-family: "Halvar Mittel Rg SuSlanted";
      font-weight: bold;
  }
  .Medium{
      font-family: "Halvar Mittel Md";
  }
  .Medium_suslanted{
      font-family: "Halvar Mittel Md SuSlanted";

  }
  .Regular{
      font-family: "Halvar Mittel Rg";
  }
  .Regular_suslanted{
      font-family: "Halvar Mittel Rg SuSlanted";
  }
  .Light{
      font-family: "Halvar Mittel Lt";
  }
  .Light_suslanted{
      font-family: "Halvar Mittel Lt SuSlanted";
  }

  .Thin{
      font-family: "Halvar Mittel Th";
  }
  .Thin_suslanted{
      font-family: "Halvar Mittel Th SuSlanted";
  }
  .ExtraThin{
      font-family: "Halvar Mittel XTh";
  }
  .ExtraThin_suslanted{
      font-family: "Halvar Mittel XTh SuSlanted";
  }

  .Hairline{
      font-family: "Halvar Mittel Hl";
  }
  .Hairline_suslanted{
      font-family: "Halvar Mittel Hl SuSlanted";
  }
  .image10{
    position: absolute;
  }
.table{
  padding-right: 1000px;
}
body {
    background-color: #EAE4DF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Halvar Mittelschrift', sans-serif;
    margin: 100px 100px 80px 150px;

}
}
